@page
@model ListModel
@{
    ViewData["Title"] = "Restaurants";
}
<h1>@ViewData["Title"]</h1>

<form method="GET">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchText" />
            <span>
                <button class="btn btn-success">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>

@*<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-info" asp-page="./Details" asp-route-restaurantId="@restaurant.Id">
                    <span>Details</span>
                </a>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
                    <span>Edit</span>
                </a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-restaurantId="@restaurant.Id">
                    <span>Delete</span>
                </a>
            </td>
        </tr>
    }
</table>*@

@foreach(var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}


<a class="btn btn-primary" asp-page="./Edit">Add New</a>

@section Footer
{
    <div>@Model.Message</div>
}